<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099477960681-af99ebuu3ashse4febh1csj5oc2s569c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099477960681-af99ebuu3ashse4febh1csj5oc2s569c</string>
	<key>API_KEY</key>
	<string>AIzaSyD7q4fDoLpX_yDfByToHCBCJkeggmE757w</string>
	<key>GCM_SENDER_ID</key>
	<string>1099477960681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fi.dasilva.alan.Tutors</string>
	<key>PROJECT_ID</key>
	<string>tutors-82639</string>
	<key>STORAGE_BUCKET</key>
	<string>tutors-82639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099477960681:ios:ad934875f73fdb8499ed78</string>
</dict>
</plist>
